
# 忽略配置文件 带有斜杠的是目录

# IntelliJ IDEA

.idea/
*.iml

# Eclipse project

.project
.classpath
.settings/

# gradle project
.gradle/
build/


# Android files
bin/
gen/
out/
local.properties


# Temp files
*.bak
*.tmp
*.temp
Thumbs.db
.DS_Store
